{% extends "base.html" %} {% block main %}
<h1>Secure Page</h1>
<p>Hi, my name is Ashley Perkins. I am currently pursuing a bachelor's degree in Computer Science
    with hopes of one day becoming a successful Software Developer. My hobbies are painting, animation, 
    videography,photography and graphic design. I also enjoy aeronautics and hope to one day pursue courses 
    related to aeronautical engineering. In the future it is my aim to obtain many streams of income while 
    doing something that I enjoy and can inspire others from all while travelling the world.
</p>
{% endblock %}
